# Virtual environment
venv/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
*.tfplan
*.tfvars

# Lambda deployment packages
*.zip

# Environment variables
.env